<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 设置控制台打印sql -->
        <!--<setting name="logImpl" value="stdout_logging" />-->
    </settings>

    <!-- Continue going here -->

    <!--<typeAliases>-->
        <!--<package name="cn.com.countrygarden.ucenter.entity"/>-->
    <!--</typeAliases>-->

    <!--<mappers>-->
        <!--&lt;!&ndash;<package name="cn.com.countrygarden.ucenter.mapper" />&ndash;&gt;-->
        <!--<mapper resource="mappers/DiaryMapper.xml"/>-->
        <!--<mapper resource="mappers/EmpEvaluateMapper.xml"/>-->
        <!--<mapper resource="mappers/EmployeeMapper.xml"/>-->
        <!--<mapper resource="mappers/LikesMapper.xml"/>-->
        <!--<mapper resource="mappers/PicMapper.xml"/>-->
        <!--<mapper resource="mappers/RepliesMapper.xml"/>-->
        <!--<mapper resource="mappers/TeamMapper.xml"/>-->
        <!--<mapper resource="mappers/UserMapper.xml"/>-->
    <!--</mappers>-->
</configuration>